<html>

<head>
    <script src="/scripts/angular.min.js"></script>
    <script src="/scripts/angular-route.min.js"></script>
    <script src="/scripts/jquery.min.js"></script>
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <script src="/scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <script src="/scripts/script.js"></script>
</head>

<body>
    <div>
        <div class="idTituloAviso">
            <p id="pTituloAviso">Aviso</p>
        </div>
        <br />
        <div class="center" class="jumbotron">
            <p id="paviso">
                Recurso não encontrado.
            </p>
        </div>
    </div>
</body>

</html>