<html>

<head>
    <script src="/scripts/angular.min.js"></script>
    <script src="/scripts/angular-route.min.js"></script>
    <script src="/scripts/jquery.min.js"></script>
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <script src="/scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <script src="/scripts/script.js"></script>
</head>

<body>
    <div>
        <div>
            <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="/about">Sobre<span class="sr-only">(current)</span></a></li>
                    <li id="createUser"><a href="/create">Criar conta</a></li>
                </ul>
            </nav>
        </div>
        <br />
        <div class="jumbotron">
            <p>
                Put detail description about you and your company.
            </p>
        </div>
    </div>
</body>

</html>