<html>

<head>
    <script src="/scripts/angular.min.js"></script>
    <script src="/scripts/angular-route.min.js"></script>
    <script src="/scripts/jquery.min.js"></script>
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <script src="/scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <script src="/scripts/script.js"></script>
</head>

<body onload="getConfigurations()">
    <div>
        <div>
            <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">Sobre</a></li>
                    <li id="liConfig" class="active"><a href="/config">Configurações<span class="sr-only">(current)</span></a></li>
                </ul>
                <div id=divLogout style="color: rgb(233, 233, 233); text-align: right">
                    <span id="nameUser" style="margin-right: 15px;">Sair</span>
                    <button onclick="logout()" id="btLogout"><img id="imgLogout" src="/images/logout.png"></button>
                </div>
            </nav>
        </div>
        <br /> <br />
        <div class="center">
            <form class="formConfig" method="POST" action="/config" role="form">
                <table style="margin: 0 auto;">
                    <thead>
                        <tr>
                            <th class="thBigTitle">Descrição</th>
                            <th class="thBigTitle">Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="thTitle">
                                Tempo de leitura
                            </th>
                            <td>
                                <select id="period" name="period" class="form-control">
                                    <option value="600000">10 minutos</option>
                                    <option value="1800000">30 minutos</option>
                                    <option value="3600000">1 hora</option>
                                    <option value="7200000">2 horas</option>
                                    <option value="10800000">3 horas</option>
                                    <option value="21600000">6 horas</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th class="thTitle">
                                Intervalo do gráfico dinâmico
                            </th>
                            <td style="text-align: center; margin-top: 60px;">
                                <select id="dynduration" name="dynduration" class="form-control">
                                    <option value="3600">1 hora</option>
                                    <option value="21600">6 horas</option>
                                    <option value="43200">12 horas</option>
                                    <option value="86400">24 horas</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th class="thTitle">
                                Data de início em gráficos estáticos
                            </th>
                            <td style="width: 50%">
                                <input id="staticDateStart" name="staticDateStart" value="" class="form-control" type="date" />
                            </td>
                        </tr>
                        <tr>
                            <th class="thLitleTitle">
                                Hora de início em gráficos estáticos
                            </th>
                            <td style="width: 50%">
                                <input id="staticTimeStart" name="staticTimeStart" value="" class="form-control" type="time" />
                            </td>
                        </tr>
                        <tr>
                            <th class="thTitle">
                                Data de fim em gráficos estáticos
                            </th>
                            <td style="width: 50%">
                                <input id="staticDateEnd" name="staticDateEnd" value="" class="form-control" type="date" />
                            </td>
                        </tr>
                        <tr>
                            <th class="thLitleTitle">
                                Hora de fim em gráficos estáticos
                            </th>
                            <td style="width: 50%">
                                <input id="staticTimeEnd" name="staticTimeEnd" class="form-control" type="time" value="" />
                            </td>
                        </tr>
                        <tr>
                            <th class="thTitle">
                                Tipo de medida
                            </th>
                            <td style="width: 50%">
                                <select id="sMeasure" name="sMeasure" class="form-control">
                                    <option value="celsius">celsius</option>
                                    <option value="fahrenheit">fahrenheit</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th class="thTitle">
                                A sua conta
                            </th>
                            <td style="width: 50%; height: 50px">
                                <div id="spanAccount"></div>
                            </td>
                        </tr>
                        <tr>
                            <th class="thTitle">
                                Aplicação para raspberry
                            </th>
                            <td style="width: 50%; height: 50px">
                                <a href="/resources/raspberry.zip" download>raspberry.zip</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <input id="inputAccount" type="hidden" value="" name="account">
                <input onmouseover="checkDate()" class="btn btn-primary" type="submit" name="submit" value="Gravar" />
            </form>
        </div>

</body>

</html>