<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Estação metereológica</title>
    <script src="/scripts/angular.min.js"></script>
    <script src="/scripts/angular-route.min.js"></script>
    <script src="/scripts/jquery.min.js"></script>
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <script src="/scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link rel="icon" href="/images/sun.png">
    <script src="/scripts/script.js"></script>
    <script src="/scripts/Chart.min.js"></script>
</head>

<body>
    <div>
        <div>
            <nav id="navbar" class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
                <ul id="headbar" class="nav navbar-nav">
                    <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
                    <li><a href="/about">Sobre</a></li>
                    <li id="liConfig"><a href="/config">Configurações</a></li>
                    <li id="liCreateUser"><a href="/create">Criar conta</a></li>
                </ul>
                <div id=divLogout style="color: rgb(233, 233, 233); text-align: right">
                    <span id="nameUser" style="margin-right: 15px;">Sair</span>
                    <button onclick="logout()" id="btLogout"><img id="imgLogout" src="/images/logout.png"></button>
                </div>
            </nav>
        </div>
    </div>

    </br>
    <div class="center" id="divImage">
        <div id="divWelcome" class="welcomeDiv">Posto meteorológica <br/>com RaspBerry</div>
    </div>
    <div id="divInformation" class="center">
        <p id="pInformation">
            Introduza os seus dados de acesso
        </p>
    </div>
    <div id="divLogin" class="center">
        <br />
        <form onsubmit="checkFields()" method="POST" action="/getuser" role="form">
            <div class="center">
                <div>
                    <label for="email">Email</label>
                </div>
                <br />
                <div>
                    <input style="text-align: center" type="email" class="form-control" id="email" name="email"
                        placeholder="example@domain.com" value="">
                </div>
            </div>
            <br />
            <div>
                <div>
                    <label for="password">Password</label>
                </div>
                <br />
                <div>
                    <input class="form-control" style="text-align: center" placeholder="password" type='password'
                        rows="4" id="password" name="password" value="">
                </div>
            </div>
            <br />
            <div>
                <div>
                    <input id="submit" name="submit" value="Enviar" type="submit" value="Send" class="btn btn-primary">
                </div>
            </div>
        </form>
    </div>
    <div id="divGraphs" style="width: 100%;">
        <div id="dynamicGraph" class="graph" style="margin-left: 20%">
            <canvas id="myChartDynamic"></canvas>
        </div>
        <br />
        <br />
        <div style="width:60%; margin-left: 20%">
            <table>
                <tr>
                    <td class="tableTemps">
                        Temperatura máxima
                    </td>
                    <td id="dynTempMax" class="tableTemps">
                        Sem dados
                    </td>
                </tr>
                <tr>
                    <td class="tableTemps">
                        Temperatura mínima
                    </td>
                    <td id="dynTempMin" class="tableTemps">
                        Sem dados
                    </td>
                </tr>
                <tr>
                    <td class="tableTemps">
                        Temperatura média
                    </td>
                    <td id="dynTempMed" class="tableTemps">
                        Sem dados
                    </td>
                </tr>
                <tr>
                    <td class="tableTemps">
                        Amplitude térmica
                    </td>
                    <td id="dynTempAmp" class="tableTemps">
                        Sem dados
                    </td>
                </tr>
            </table>
        </div>
        <br />
        <br />
        <div id="staticGraph" class="graph" style="margin-left: 20%">
            <canvas id="myChartStatic"></canvas>
        </div>
        <br />
        <br />
        <div style="width:60%; margin-bottom: 100px; margin-left: 20%">
            <table>
                <tr>
                    <td class="tableTemps">
                        Temperatura máxima:
                    </td>
                    <td id="staticTempMax" class="tableTemps">
                        Sem dados
                    </td>
                </tr>
                <tr>
                    <td class="tableTemps">
                        Temperatura mínima:
                    </td>
                    <td id="staticTempMin" class="tableTemps">
                        Sem dados
                    </td>
                </tr>
                <tr>
                    <td class="tableTemps">
                        Temperatura média:
                    </td>
                    <td id="staticTempMed" class="tableTemps">
                        Sem dados
                    </td>
                </tr>
                <tr>
                    <td class="tableTemps">
                        Amplitude térmica:
                    </td>
                    <td id="staticTempAmp" class="tableTemps">
                        Sem dados
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <br />
    <br />
    <div>

    </div>
</body>

</html>