<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Estação metereológica</title>
    <script src="/scripts/angular.min.js"></script>
    <script src="/scripts/angular-route.min.js"></script>
    <script src="/scripts/jquery.min.js"></script>
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <script src="/scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link rel="icon" href="/images/sun.png">
    <script src="/scripts/script.js"></script>
    <script src="/scripts/Chart.min.js"></script>
</head>

<body>
    <div>
        <div>
            <nav id="navbar" class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
                <ul id="headbar" class="nav navbar-nav">
                    <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
                    <li><a href="/about">Sobre</a></li>
                    <li id="liConfig"><a href="/config">Configurações</a></li>
                    <li id="liCreateUser"><a href="/create">Criar conta</a></li>
                </ul>
                <div id=divLogout style="color: rgb(233, 233, 233); text-align: right">
                    <span id="nameUser" style="margin-right: 15px;">Sair</span>
                    <button onclick="logout()" id="btLogout"><img id="imgLogout" src="/images/logout.png"></button>
                </div>
            </nav>
        </div>
    </div>

    </br>
    <div class="center" id="divImage"><img id="welcomeImage" src="/images/weather.jpeg"></div>
    <div id="divInformation" class="center">
        <p id="pInformation">
            Introduza os seus dados de acesso
        </p>
    </div>
    <div id="divLogin" class="center">
        <br />
        <form onsubmit="checkFields()" method="POST" action="/getuser" role="form">
            <div class="center">
                <div>
                    <label for="email">Email</label>
                </div>
                <br />
                <div>
                    <input style="text-align: center" type="email" class="form-control" id="email" name="email"
                        placeholder="example@domain.com" value="">
                </div>
            </div>
            <br />
            <div>
                <div>
                    <label for="password">Password</label>
                </div>
                <br />
                <div>
                    <input class="form-control" style="text-align: center" placeholder="password" type='password' rows="4"
                        id="password" name="password" value="">
                </div>
            </div>
            <br />
            <div>
                <div>
                    <input id="submit" name="submit" value="Enviar" type="submit" value="Send" class="btn btn-primary">
                </div>
            </div>
        </form>
    </div>
    <div id="divGraphs">
        <div id="dynamicGraph" class="dynamicGraph" style=" text-align:center; width:  70%; height: 400px; border: solid black 2px">
            <canvas style="width:  100%; height: 100%;" id="myChart"></canvas>
        </div>
    </div>



</body>

</html>