<html>

<head>
    <script src="/scripts/angular.min.js"></script>
    <script src="/scripts/angular-route.min.js"></script>
    <script src="/scripts/jquery.min.js"></script>
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <script src="/scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <script src="/scripts/script.js"></script>
</head>

<body onload="back()">
    <div>
        <div>
            <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">

            </nav>
        </div>
        <div class="center">
            <p id="ptext">
                <%= text %>
            </p>
        </div>
    </div>
</body>

</html>